/*
	Ändra bakgrund i body!
*/


body {
	font-family: "Source Sans Pro", Arial, sans-serif;
	background-color: #dd1021;
	font-size: 13px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body, html {
	height: 100%
}


a, a:visited {
	text-decoration: none;
	color: #2e639e;
}
a:hover {
	text-decoration: underline;
}
.touchonly {
	display: none;
}
html.touch .touchonly {
	display: block;
}
.noselect * {
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}
.doselect * {
	user-select: auto;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-o-user-select: auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}




#wrapper{
    width:80%;
    margin-top:100px;
    margin-left:5%;
    background-color:black;
}

.containers {
  position: relative;
  z-index:1;
  
}

.overlays {
  position: absolute;
  bottom: 0;
  left: 110%;
  right: 0;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  width: 0%;
  height: 50px;
  transition: .5s ease;
  opacity:0.8;
  
}

.overlay {
  opacity:1;
}

.containers:hover .overlays {
  width: 50%;
  height:50px;
  
 
}

h2{
    font-size:10pt;
    
}
p{
    font-size:10pt;
    float:left;
    margin-top:-10px;
    color:white;
    line-height: 16px;
    font-family:helvetica neue;
    
}

/*-----------------Hamburger------------------------------*/

#bun_top{
   background-image: url('http://nellas.se/chalmers/infoviz/bilder/bun_top.png');
   background-repeat:no-repeat;
   background-size: contain;
   width: 100%;
   margin-top:100px;
   
}

#bun_top:hover {
   background-image: url('http://nellas.se/chalmers/infoviz/bilder/bun_top_h.png');
   background-repeat:no-repeat;
   cursor: pointer;
}
#bun_top:hover img{
   opacity:0;
}


#meat_top{
   background-image: url('http://nellas.se/chalmers/infoviz/bilder/meat_top.png');
   background-repeat:no-repeat;
   background-size: contain;
   height: 100%;
   width: 100%;
   margin-top:-3%;

}
#meat_top:hover {
   background-image: url('http://nellas.se/chalmers/infoviz/bilder/meat_top_h.png');
   background-repeat:no-repeat;
   cursor: pointer;
}
#meat_top:hover img{
   opacity:0;
}


#dressing_top{
   background-image: url('http://nellas.se/chalmers/infoviz/bilder/dressing_top.png');
   background-repeat:no-repeat;
   background-size: contain;
   height: 100%;
   width: 100%;
   margin-top:-3%;
}
#dressing_top:hover {
   background-image: url('http://nellas.se/chalmers/infoviz/bilder/dressing_top_h.png');
   background-repeat:no-repeat;
   background-size: contain;
   cursor: pointer;
}
#dressing_top:hover img{
   opacity:0;
}


#sallad_top{
   background-image: url('http://nellas.se/chalmers/infoviz/bilder/sallad_top.png');
   background-repeat:no-repeat;
   background-size: contain;
   height: 100%;
   width: 100%;
   margin-top:-7%;
}
#sallad_top:hover {
   background-image: url('http://nellas.se/chalmers/infoviz/bilder/sallad_top_h.png');
   background-repeat:no-repeat;
   cursor: pointer;
}
#sallad_top:hover img{
   opacity:0;
}



#bun_middle{
   background-image: url('http://nellas.se/chalmers/infoviz/bilder/bun_middle.png');
   background-repeat:no-repeat;
   background-size: contain;
   height: 100%;
   width: 100%;
   margin-top:-10%;

}
#bun_middle:hover {
   background-image: url('http://nellas.se/chalmers/infoviz/bilder/bun_middle_h.png');
   background-repeat:no-repeat;
   cursor: pointer;
}
#bun_middle:hover img{
   opacity:0;
}



#cheese{
   background-image: url('http://nellas.se/chalmers/infoviz/bilder/cheese.png');
   background-repeat:no-repeat;
   background-size: contain;
   height: 100%;
   width: 100%;
   margin-top:-2%;
}
#cheese:hover {
   background-image: url('http://nellas.se/chalmers/infoviz/bilder/cheese_h.png');
   background-repeat:no-repeat;
   cursor: pointer;
}
#cheese:hover img{
   opacity:0;
}

#sallad_bottom{
   background-image: url('http://nellas.se/chalmers/infoviz/bilder/sallad_bottom.png');
   background-repeat:no-repeat;
   background-size: contain;
   height: 100%;
   width: 100%;
   margin-top:-10%;
}
#sallad_bottom:hover {
   background-image: url('http://nellas.se/chalmers/infoviz/bilder/sallad_bottom_h.png');
   background-repeat:no-repeat;
   cursor: pointer;
}
#sallad_bottom:hover img{
   opacity:0;
}

#dressing_bottom{
   background-image: url('http://nellas.se/chalmers/infoviz/bilder/dressing_bottom.png');
   background-repeat:no-repeat;
   background-size: contain;
   height: 100%;
   width: 100%;
   margin-top:-9%;
}
#dressing_bottom:hover {
   background-image: url('http://nellas.se/chalmers/infoviz/bilder/dressing_bottom_h.png');
   background-repeat:no-repeat;
   cursor: pointer;
}
#dressing_bottom:hover img{
   opacity:0;
}

#bun_bottom{
   background-image: url('http://nellas.se/chalmers/infoviz/bilder/bun_bottom.png');
   background-repeat:no-repeat;
   background-size: contain;
   height: 100%;
   width: 100%;
   margin-top:-9%;
}
#bun_bottom:hover {
   background-image: url('http://nellas.se/chalmers/infoviz/bilder/bun_bottom_h.png');
   background-repeat:no-repeat;
   cursor: pointer;
}
#bun_bottom:hover img{
   opacity:0;
}


/*-----------------Pickle------------------------------*/


.agurk {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.pickleBox {
    position: relative;
    width: 40%;
}

.pickleBox:hover .agurk {
  content: url('https://cdn.glitch.com/e0a0425b-f56c-457d-9118-5b8554c87664%2Fgurkglitch.svg?1519390547521');
  cursor: pointer;
}


.pickleBox:hover .middle {
  opacity: 1;
}

#pickleCenter{
    padding-left:35%;
    padding-top:50px;
   
}
#box6 h4{
    text-align:center;
}

.text {
  background-color: white;
  border-radius: 20px;
  color: #F5AA00;
  opacity: 1;
  font-size: 65%;
  width: 150px;
  height:80px;
  padding: 20px 30px;
  position: relative;
  left: 200px;
  bottom: 100px;
  /*box-shadow: 0px 0px 20px 5px red;*/
}





